let mapleader = ","

" system clipboard
noremap <leader>y "+y
noremap <leader>p "+p

" exiting insert mode
inoremap <silent> <Up> <ESC><Up>
inoremap <silent> <Down> <ESC><Down>

" disable Shift+Up/Down
map <S-Up> <Up>
map <S-Down> <Down>
