[core]
    excludesfile = ~/.gitignore
    quotepath = false
[pull]
    ff = only
[init]
    defaultBranch = master
[commit]
    gpgsign = true
[gpg]
    format = ssh

[user]
    email = michal@wielunski.net
    name = Michał Wieluński
    signingkey = ~/.ssh/key.pub
