[core]
    excludesfile = ~/.config/git/.gitignore
    quotepath = false
[pull]
    ff = only
[init]
    defaultBranch = master
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[user]
    email = michal@wielunski.net
    name = Michał Wieluński
    signingkey = ~/.ssh/key.pub
