[core]
	excludesfile = ~/.gitignore
[pull]
	ff = only
[init]
	defaultBranch = master
[gpg]
	format = ssh
[commit]
	gpgsign = true

[user]
	email = michal@wielunski.net
	name = Michał Wieluński
	signingkey = ~/.ssh/michal@wielunski.net.pub

