# Python
*.egg-info/
*.py[cod]
.coverage
.pytest_cache/
.venv/
__pycache__/
pip-wheel-metadata/

# Environment
.direnv/
.env
.envrc
flake.lock
flake.nix

# IDE
*.code-workspace
.idea/
.vscode/
xcuserdata/

# macOS
.DS_Store
