[core]
    excludesfile = ~/.config/git/.gitignore
    quotepath = false
[pull]
    ff = only
[init]
    defaultBranch = master
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[user]
    signingkey = ~/.ssh/key.pub

[include]
    path = ~/.config/git/.gitconfig.private
