[core]
    excludesfile = ~/.gitignore
    quotepath = false
[pull]
    ff = only
[init]
    defaultBranch = master
[commit]
    gpgsign = true
[gpg]
    format = ssh

[user]
    name = Michał Wieluński
    email = michal.wielunski@audiotekagroup.com
    signingkey = ~/.ssh/key.pub
[url "git@git.dcwp.pl:"]
    insteadOf = https://git.dcwp.pl/
[url "ssh://git@github.com"]
    insteadOf = https://github.com
